.App {
  background-color: $primary-white;
  min-height: 100vh;
  padding: 12rem 0;

  &_home {
    @include fc(1, 0);
    flex-direction: column;
    margin: 0 auto;

    &_heading {
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: -0.175rem;
      margin: 0;
      margin-bottom: 8rem;
    }

    &_content {
      margin-top: 8rem;

      .header {
        margin-bottom: 6rem;
        .title {
          font-size: 3rem;
          font-weight: 600;
          margin: 0;
          margin-bottom: 1.5rem;
        }

        .subTitle {
          text-align: center;
          font-size: 1.6rem;
          color: $primary-gray;
          font-weight: 400;
        }
      }

      .body {
        width: 40rem;
        margin: 0 auto;

        .App-Input {
          margin-bottom: 2.2rem;
        }

        .App-CardInput {
          flex: 1;

          &:not(:last-child) {
            margin-right: 3rem;
          }

          .CustomCard {
            text-align: left;
            &_icon-container {
              margin-bottom: 1.5rem;
            }
            h2 {
              font-weight: 600;
              font-size: 1.6rem;
              margin: 0;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1.4rem;
              color: $primary-gray;
            }
          }
        }
      }

      .final-icon {
        background-color: $primary-blue;
        fill: #fff;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: none;
        margin: 0 auto;
        margin-bottom: 4rem;
      }

      &.final-screen {
        .final-icon {
          @include fc;
        }

        .header {
          margin-bottom: 4rem;
          .title {
            text-align: center;
          }
        }
      }
    }

    &_submit {
      background-color: $primary-blue;
      color: $primary-white;
      font-size: 1.4rem;
      font-weight: 500;
      width: 40rem;
      padding: 1.4rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
