.App-CardInput {
  border: 1px solid $quaternary-gray;
  border-radius: 0.5rem;
  padding: 2.5rem 2.1rem;
  cursor: pointer;
  fill: $secondary-black;

  &.active {
    border-color: $primary-blue;
    fill: $primary-blue;
  }
  &.error {
    border-color: $primary-red;
    // fill: $primary-red;
  }
}
