/**
ALL THE DEFAULT SETTINGS FOR THE APP, NO REAL STYLING SHOULD BE APPLIED HERE
**/

// #### IMPORTS ####
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// #### SCREEN SIZES ####
$mobile: 330px;
$tablet: 495px;
$desktop: 872px;
$big-desktop: 1128px;

// #### MEDIA-QUERIES ####

// mobile
$mobile-down-query: "only screen and (max-width : #{$mobile})";
$mobile-up-query: "only screen and (min-width : #{$mobile})";

// tablet
$tablet-down-query: "only screen and (max-width : #{$tablet})";
$tablet-up-query: "only screen and (min-width : #{$tablet})";

// desktop
$desktop-down-query: "only screen and (max-width : #{$desktop})";
$desktop-up-query: "only screen and (min-width : #{$desktop})";

// big-desktop
$big-desktop-up-query: "only screen and (min-width : #{$big-desktop})";

@mixin up-query($width) {
  @media only screen and (min-width: #{$width}) {
    @content;
  }
}

@mixin down-query($width) {
  @media only screen and (max-width: #{$width}) {
    @content;
  }
}

@mixin xdq($query) {
  @media #{$query} {
    @content;
  }
}

@mixin mdq {
  @media #{$mobile-down-query} {
    @content;
  }
}

@mixin tdq {
  @media #{$tablet-down-query} {
    @content;
  }
}

@mixin ddq {
  @media #{$desktop-down-query} {
    @content;
  }
}

@mixin muq {
  @media #{$mobile-up-query} {
    @content;
  }
}

@mixin tuq {
  @media #{$tablet-up-query} {
    @content;
  }
}

@mixin duq {
  @media #{$desktop-up-query} {
    @content;
  }
}

// #### COLORS ####
$primary-blue: #664ce4;

$primary-black: #080b11;
$secondary-black: #141a28;
$tertiary-black: #374258;
$primary-gray: #5d6985;
$secondary-gray: #a8b0c5;
$tertiary-gray: #98a4ba;
$quaternary-gray: #eaeef5;
$primary-white: #fefffe;
$secondary-white: #f5f5fc;

// #### MISC VARIABLES ####
$default-space: 1.5rem;
$font-size: 10px;

$primary-font: "Inter", sans-serif;
// $font-2: "Open Sans";
